<%- include('../partials/header'); %>
<main class="main main-home container">
    <section class="section section-1">
        <h2 class="header-h2">Lorem, ipsum dolor.</h2>
        <div class="content-div row">
            <div class="sec1-div col-md-6">
                <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus soluta iusto reprehenderit voluptas in ducimus dolorem fugit voluptates laudantium molestiae suscipit fugiat odio rerum nihil est explicabo aspernatur, quibusdam accusantium? Assumenda ipsa magni est neque vitae optio alias facilis error unde cum laudantium minus nemo ratione quod, dolorum architecto. Blanditiis aliquam iusto expedita voluptas deleniti vel earum doloribus temporibus, ea accusamus aperiam, vitae molestiae pariatur praesentium omnis consequuntur reiciendis veniam eveniet dignissimos repellendus! Magni veniam qui deleniti dolores, deserunt maiores totam eaque dolorem quia molestiae, rerum tempora unde, corrupti ducimus quasi similique! Assumenda suscipit maiores quae officiis cum, eum fuga.</p>
            </div>
            <div class="sec1-div col-md-6">
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae adipisci officiis id porro eum at aliquid quidem expedita totam consequatur sint eius exercitationem, eaque deleniti doloremque a commodi nobis quasi possimus voluptates esse? Nisi asperiores exercitationem iste omnis molestias, perferendis nostrum voluptates ab dolor nihil, corporis laboriosam. Deleniti eveniet recusandae magnam accusamus sint, sequi reprehenderit aperiam dolores cum assumenda iusto neque voluptas dicta, necessitatibus voluptates mollitia maxime sunt libero nisi. Recusandae assumenda consequatur accusamus est laudantium. Maxime, aspernatur! Repellat amet aliquid modi deserunt repellendus, temporibus illo minima, quaerat nihil delectus ad consequuntur mollitia nostrum molestiae sunt suscipit nulla, nisi consequatur?</p>
            </div>
        </div>
    </section>

    <section class="section section-2">
        <h2 class="header-h2">Lorem ipsum dolor sit.</h2>
        <content-row class="row">
            <div class="col-md-4">
                <figure class="figure">
                    <img src="https://via.placeholder.com/250x250" alt="placeholder" class="img-fluid placeholder-image" />
                    <figcaption class="figcaption">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero, magni.</figcaption>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="figure">
                    <img src="https://via.placeholder.com/250x250" alt="placeholder" class="img-fluid placeholder-image" />
                    <figcaption class="figcaption">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero, magni.</figcaption>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="figure">
                    <img src="https://via.placeholder.com/250x250" alt="placeholder" class="img-fluid placeholder-image" />
                    <figcaption class="figcaption">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero, magni.</figcaption>
                </figure>
            </div>
        </content-row>
    </section>
</main>
<%- include('../partials/footer'); %>